<footer class="bg-info">
  <div class="row">
    <div class="col-12 col-xs-12 ">
      <h5 class="text-center text-primary p-3">todos los derechos reservados - <%= Time.now.year%></h5>
    </div>
  </div>
</footer>