
  <nav class="navbar navbar-expand-lg bg-info ">
  <div class="container p-4">
    <div class="col-12 col-xs-12 col-md-4 col-lg-3 col-xl-3" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li >
          <a><%= link_to "Proyectos", projects_deshboard_path, class:" btn btn-outline-primary navbar-brand nav-link active my-2" %></a>
        </li>
        <li>
        <a><%= link_to "Nuevo Proyecto", projects_new_path, class:" btn btn-outline-primary my-2" %></a>
        </li>
      </ul>
    

    </div>

    
    
  </div>
</nav>

